:root {
  --site-background-color: #ffffff;
  --primary-background-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --selected-text-color: #ffffff;
  --address-text-color: #ffffff;
  --secondary-address-text-color: rgba(255, 255, 255, 0.6);
  --current-text-color: var(--primary-background-color);
  --line-color: #ececec;
  --card-border-color: #eeeeee;
  --button-hover-bg-color: #188ce8;
  --hero-bg-color: #c4c4c4;
  --social-primary-fill: #afb1b8;
  --transition-style: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --grid-column-width: 70px;
  --grid-gutter-width: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--site-background-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.no-mark {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--line-color);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.nav-area,
.header-addresses {
  display: flex;
  align-items: center;
}

.site-nav .link,
.header-addresses .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item:not(:last-child),
.header-addresses .item:not(:last-child) {
  margin-right: 50px;
}

.page-header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.page-header .logo > span {
  color: var(--primary-background-color);
}

.page-header .link {
  color: var(--primary-text-color);
  transition: color var(--transition-style), fill var(--transition-style);
}

.header-addresses .link {
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  display: flex;
  align-items: center;
}
.header-addresses .email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-addresses .tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.header-addresses .link:hover,
.header-addresses .link:focus {
  color: var(--primary-background-color);
  /* fill: var(--primary-background-color); */
  fill: currentColor;
}

.site-nav .item {
  position: relative;
}

.site-nav .current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--current-text-color);
  border-radius: 2px;
}

.site-nav {
  display: flex;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

header,
.section,
footer {
  min-width: 1200px;
}

.occupations img,
.team img,
.example img {
  display: block;
}

/* Stuido page */

.hero .title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--site-background-color);
  text-transform: uppercase;
}

.hero.section {
  height: 600px; /* calc(100vh - 80px) */
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;

  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 0;
  border-radius: 4px;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  transition: background-color var(--transition-style), color var(--transition-style),
    box-shadow var(--transition-style);
}

.button.primary {
  color: var(--selected-text-color);
  background-color: var(--primary-background-color);
}

.hero .button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--button-hover-bg-color);
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* Features */
.features {
  padding-top: 89px;
  padding-bottom: 0;
}

.feature-list {
  display: flex;
}

.feature-list .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.features .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Occupations */
.occupations {
  text-align: center;
}

.occupation-list {
  display: flex;
}

.occupation-list .item:not(:last-child) {
  margin-right: 30px;
}

.occupation-list .link {
  display: block;
  position: relative;
}

.occupation-list .comment {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--address-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team */
.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-list .member {
  padding-bottom: 30px;
  background-color: var(--site-background-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list > .member:not(:last-child) {
  margin-right: 30px;
}

.team-list .fio {
  margin-top: 30px;
  font-weight: 500;
  font-size: inherit;
}

.team-list .position {
  margin-top: 10px;
  color: var(--secondary-text-color);
}

.team-list .social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.social-links .network-link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  transition: background-color var(--transition-style), fill var(--transition-style);
}

.social-links .network:not(:last-child) {
  margin-right: 10px;
}

.team-list .network-link {
  fill: var(--social-primary-fill);
  background-color: var(--site-background-color);
}

.social-links .network-link:hover,
.social-links .network-link:focus {
  background-color: var(--primary-background-color);
  fill: var(--site-background-color);
}

/* Clients */

.clients {
  text-align: center;
}

.client-list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.client-list .client {
  height: 92px;
  width: 170px;
}

.client-list .client:not(:last-child) {
  margin-right: 30px;
}

.client-list .link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--social-primary-fill);
  border: 1px solid var(--social-primary-fill);
  border-radius: 4px;
  transition: background-color var(--transition-style), fill var(--transition-style),
    border var(--transition-style);
}

.client-list .link:hover,
.client-list .link:focus {
  fill: var(--primary-background-color);
  border-color: var(--primary-background-color);
}

.client-list .icon-company {
  width: 106px;
  height: 60px;
}

/* Portfolio section */

/* Filters */
.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filters .item:not(:last-child) {
  margin-right: 8px;
}

.filters .button {
  padding: 6px 22px;
}

.filters .button.primary {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters .button:hover,
.filters .button:focus {
  color: var(--selected-text-color);
  background-color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.examples .wrapper {
  position: relative;
  overflow: hidden;
}

.examples .description {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  color: var(--address-text-color);
  background-color: var(--primary-background-color);
  /* opacity: 0; */
  transition: transform var(--transition-style);
}

.examples .example:hover .description,
.examples .example:focus .description {
  transform: translateY(0%);
}

.examples .link {
  color: inherit;
  display: inline-block;
}

.example .header {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example p {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.example .title {
  padding: 20px 24px;
  border: 1px solid var(--card-border-color);
  border-top: 0;
}

.examples .example:hover,
.examples .example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Footer */
.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer .address-wrapper,
.page-footer .social-networks {
  width: calc(var(--grid-column-width) * 3 + var(--grid-gutter-width) * 2);
  margin-right: var(--grid-gutter-width);
}

.page-footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer address {
  font-style: normal;
}

.page-footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer,
.page-footer .link {
  color: var(--address-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.page-footer .logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--address-text-color);
}

.page-footer .logo > span {
  color: var(--primary-background-color);
}

.social-networks-title,
.subscribe-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.page-footer .social-links,
.page-footer .subscription-form {
  display: flex;
  margin-top: 20px;
}

.page-footer .network-link {
  fill: var(--site-background-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer .link.secondary {
  color: var(--secondary-address-text-color);
}
address .link:hover,
address .link:focus,
address .link.secondary:hover,
address .link.secondary:focus {
  color: var(--primary-background-color);
}

.subscription {
  flex: 1;
}

.subscription-form {
  display: flex;
}

.subscription-form .subscription-label {
}

.subscription-form .subscription-email {
  flex: 1;
  height: 50px;
  min-width: 150px;
  padding: 15px 16px;
  margin-right: 12px;
  color: currentColor;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-form .submit-button {
  width: 200px;
  vertical-align: middle;
  transition: background-color var(--transition-style);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-form .submit-button:hover,
.subscription-form .submit-button:focus {
  background-color: var(--button-hover-bg-color);
}

.subscription-form .icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity var(--transition-style), visibility var(--transition-style);
}

.backdrop .modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  color: var(--secondary-text-color);
  background-color: var(--address-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity var(--transition-style), transform var(--transition-style);
}

.modal .close-button {
  position: absolute;
  display: block;
  padding: 5px;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transition-style);
}

.modal .close-button:hover,
.modal .close-button:focus {
  fill: var(--primary-background-color);
}

.close-button .icon-close {
  display: block;
  width: 18px;
  height: 18px;
}

.modal .header-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-text-color);
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-field .form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--secondary-text-color);
}

.input-wrapper {
  position: relative;
}

.form-field .form-input {
  width: 100%;
  height: 40px;
  color: inherit;
  padding: 8px 8px 8px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-style);
}

.form-field.comment .form-input {
  display: block;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.form-field.comment {
  margin-bottom: 20px;
}

.form-field.accept {
  margin-bottom: 30px;
  position: relative;
}

.form-field .form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field .form-input:focus,
.form-field .form-input:hover {
  border-color: var(--primary-background-color);
}

.form-input:focus + .input-icon,
.form-input:hover + .input-icon {
  fill: var(--primary-background-color);
}

.form-field .input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  transition: fill var(--transition-style);
}
.form-field.accept {
  display: flex;
  align-items: center;
  padding-left: 37px;
  height: 24px;
}

.form-field:hover .tool-tip {
  opacity: 1;
}

.form-field .tool-tip {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 100%;
  transform: translateY(-10px);
  left: 40px;
  padding: 10px;
  font-size: 12px;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0px grey;
  transition: opacity var(--transition-style) 1000ms;
}

.tool-tip::before,
.tool-tip::after {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid var(--primary-text-color);
  z-index: -1;
}
.tool-tip::after {
  border-top: 10px solid var(--secondary-background-color);
  bottom: -19px;
}

.form-field.accept:focus-within {
  outline: 1px dotted var(--primary-background-color);
}

.checkbox-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  fill: white;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  fill: var(--address-text-color);
  background-color: var(--primary-background-color);
  border-color: var(--primary-background-color);
  border-width: 1px;
}

.call-request-form .button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}

.call-request-form .agreement-link {
  color: var(--primary-background-color);
}
.form-submit {
  transition: background-color var(--transition-style);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-submit:hover,
.form-submit:focus {
  background-color: var(--button-hover-bg-color);
}
